<div class="row">
	<div class="panel panel-default col-sm-6 col-md-4 col-md-offset-4">
		<div class="panel-body">
			<form [ngFormModel]="loginForm" (ngSubmit)="onSubmit()" novalidate>
				<field [control]="loginForm.controls.email">
					<label>Email</label>
					<input ngControl="email" class="form-control">
				</field>
				<field [control]="loginForm.controls.password">
					<label>Password</label>
					<input type="password" ngControl="password" class="form-control">
				</field>
				<button type="submit" class="btn btn-default" [disabled]="!loginForm.valid">
					Login
				</button>
			</form>
		</div>
	</div>
</div>

