<nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-nav">
			<li><a [routerLink]="['Dashboard']">Dashboard</a></li>
			<li><a [routerLink]="['Posts']">Posts</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li><a *ngIf="!auth.authenticated()" [routerLink]="['Login']">Login</a></li>
			<li><a *ngIf="auth.authenticated()" href="#" (click)="auth.logout()">
				Logout <small>{{auth.user.email}}</small>
			</a></li>
		</ul>
	</div>
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>