<div class="row">
	<div class="col-md-6">
		<search-input (onSearch)="searchPosts('title_like', $event)" placeholder="Title search ..."></search-input>
	</div>

	<div class="col-md-6 text-right">
		<button [routerLink]="['New']" class="btn btn-primary">New Post</button>
	</div>
</div>

<table class="table table-hover">
	<thead>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let post of posts">
		<td>{{ post.id }}</td>
		<td>{{ post.title }}</td>
		<td class="text-right">
			<a [routerLink]="['Edit', {id: post.id}]" class="btn btn-primary">Edit</a>
			<a (click)="deletePost(post)" class="btn btn-danger">Delete</a>
		</td>
	</tr>
	</tbody>
</table>
